<% url = @access_token.persisted? ? settings_token_path(@access_token) : settings_tokens_path %>
<%= form_for(@access_token, url: url) do |f| %>
  <% if @access_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access_token.errors.count, "error") %> prohibited this access_token from being saved:</h2>

      <ul>
      <% @access_token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>

  <div class="field">
    <%= f.label :scopes %><br>
    <% Doorkeeper.configuration.optional_scopes.each do |scope| %>
      <label>
        <%= f.check_box :scopes, { multiple: true }, scope, nil %>
        <%= scope %>
      </label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
